body {
  background-size: cover;
  color: white;
  padding: 10px;
  background-position: sticky;
}
.container {
  /* background-color: rgba(1, 1, 1, 0.5); */
  height: 130vh;
  margin-left: -10%;
  margin-top: -10%;
  margin-bottom: -15px;
  color: white;
  width: 112%;
}

/* HEADER */

.header-img {
  background-image: url(../assets/backnet.jpg);
  height: 680px;
  background-size: cover;

  justify-content: center;
}
.header-img-bg-shade {
  background-color: rgba(0, 0, 0, 0.927);
  height: 680px;
}
header {
  padding-left: 150px;
  padding-top: 50px;
  margin: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(0, 0, 0, 0.9); */
}

.header-title {
  font-weight: bold;
  font-family: Arial;
  color: red;
  font-size: 40px;
}

.lang {
  display: inline-block;
  font-size: 17px;
  background: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}

.button {
  display: inline;
  font-size: 17px;
  font-family: Arial;
  text-align: center;
  width: 75%;
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 7px;
  margin-left: 20px;
}
/* SECTION */

section {
  height: 500px;
  text-align: center;
  padding-left: 120px;
}

.section-title {
  font-weight: bold;
  font-size: 50px;
  font-family: Arial;
  margin-top: 70px;
}

.section-subtitle {
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}

.main-title {
  margin-top: 20px;
  font-size: 23px;
}

.Email {
  display: inline-block;
  padding: 20px;
  width: 300px;
  margin-top: 30px;
  border: 1px solid white;
  background-color: black;
  text-align: left;
}

.download {
  display: inline;
  padding: 14px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-left: 20px;
}

/* MAIN */
main {
  text-align: center;
  /* height: 50px; */
}

/* .main {
  margin-bottom: 200px;
} */
img {
  width: 500px;
  float: right;
}

.title {
  font-size: 50px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  margin-top: 90px;
}

.sub-title {
  margin-top: 10px;
  font-size: 23px;
  font-family: Arial;
}

.constant-type {
  background-color: black;
  height: 500px;
  border: 5px solid grey;
}

/* CONTENER */

.netflix-container {
  width: 500px;
  margin-right: 300px;
  align-items: center;
}

.netflix-card {
  width: 400px;
  float: left;
  margin-left: 350px;
}

.netflix-image {
  width: 600px;
  margin-right: 250px;
}

.netflix-image2 {
  width: 500px;
  float: left;
  margin-left: 250px;
}

/* ASKED QUESTUIN */

.netflix-part {
  border-top: 6px solid gray;
  margin-top: 0px;
  background-color: black;
  color: white;
  height: 800px;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  font-family: sans-serif;
}

details {
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 10px;
}

summary {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  background-color: grey;
  padding: 20px;
  color: white;
}

.ans {
  background-color: grey;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  margin-top: 5px;
  text-align: left;
}

p {
  margin-top: 60px;
  font-size: 20px;
}

.btn-address {
  padding: 17px;
  width: 300px;
  text-align: left;
  background-color: black;
  color: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.btn-started {
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px;
  width: 300px;
  background-color: red;
  color: white;
  border: 1px solid red;
  font-weight: bold;
  font-size: 25px;
  border-radius: 5px;
}
.footer-content {
  background-color: black;
  height: 400px;
  border-top: 5px solid grey;
  color: white;
  padding-top: 30px;
  padding-left: 100px;
}
.footer-title {
  font-family: arial;
  text-align: left;
}
.footer-item {
  color: white;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
}
.footer-span a {
  font-family: arial;
  display: block;
  margin-top: 20px;
  color: white;
  text-align: left;
}
.foot-last {
  text-align: left;
  margin-top: 20px;
}
.netflix-india {
  margin-top: 5px;
}
